<nz-page-header [nzTitle]="'选择名字空间' | translate" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>
</nz-page-header>

<nz-spin [nzSpinning]="loading()">
  <div style="padding: 20px 20px">
    <nz-row [nzGutter]="[8, 8]">
      @for (ns of namespaces(); track ns.namespace) {
        <nz-col [nzSpan]="4" (click)="select(ns)">
          <nz-card nzHoverable>
            <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
          </nz-card>
        </nz-col>

        <ng-template #title>
        <span>
          <span>{{ ns.namespace }}</span>

          @if (account.ns()?.namespace) {
            @if (ns.namespace === account.ns().namespace) {
              <span style="float: right">
              <span nz-icon nzType="check" nzTheme="outline"></span>
            </span>
            }
          }
        </span>
        </ng-template>

        <ng-template #desc>
          {{ ns.description.get('zh-CN') }}
        </ng-template>
      }
    </nz-row>
  </div>
</nz-spin>
