<nz-table
  #table
  nzShowSizeChanger
  nzSize="small"
  [nzData]="units"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
>
  <thead>
  <tr>
    <th [nzSortFn]="codeSortFn">代码</th>
    <th>中文描述</th>
    <th>英文描述</th>
    <th>状态</th>
    @if (account.isEditable()) {
      <th>操作</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (unit of table.data; track unit.type.name) {
      <tr>
        <td>{{ unit.type.name }}</td>
        <td>{{ unit.description.get('zh-CN') }}</td>
        <td>{{ unit.description.get('en-US') }}</td>
        <td>
          @switch (unit.lifecycle) {
            @case (LifeCycle.RELEASED) {
              <nz-tag nzColor="blue">已发布</nz-tag>
            }
            @case (LifeCycle.PREVIEW) {
              <nz-tag nzColor="yellow">预览</nz-tag>
            }
            @case (LifeCycle.DEVELOPMENT) {
              <nz-tag nzColor="red">开发中</nz-tag>
            }
          }
        </td>
        @if (account.isEditable()) {
          <td>
            <a [routerLink]="['/main/spec/unit/edit', unit.type.toString()]">修改</a>

            @if (unit.lifecycle === LifeCycle.DEVELOPMENT) {
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="onDelete(unit)">删除</a>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</nz-table>
