@if (updatable) {
  <nz-row [nzGutter]="[8, 12]">
    @for (fg of viewItems(); track i + '_' + fg.controls.value.value; let i = $index) {
      <nz-col [nzSpan]="24">
        <div class="item-row" [formGroup]="fg">

          <!-- 第一行：值 + 删除按钮 占满一行 -->
          <div class="value-row">
            <nz-input-number [nzAddonBefore]="'值' | translate" class="full-width"
              formControlName="value"
              [nzMin]="0"
              [nzStep]="1"
              [nzPrecision]="0"
            />

            <!-- 删除按钮 -->
            <button
              nz-button
              nzType="dashed"
              nzDanger
              (click)="removeItem(i)"
              type="button"
              class="del-btn"
            >
              <span nz-icon nzType="delete"></span>
            </button>
          </div>

          <!-- 第二行：描述，缩进 100px -->
          <div class="desc-part indented">
            <description
              [updatable]="true"
              [prefix]="true"
              (changed)="onTouched()"
            />
          </div>
        </div>
      </nz-col>
    }

    <nz-col nzSpan="24">
      <button
        nz-button
        nzType="dashed"
        (click)="addItem()"
        type="button"
        [disabled]="isDisabled()"
      >
        <span nz-icon nzType="plus"></span>{{ '添加' | translate }}
      </button>
    </nz-col>
  </nz-row>
} @else {
  <nz-list class="readonly-list">
    @for (fg of viewItems(); track i + '_' + fg.value.value; let i = $index) {
      <nz-list-item>
        <div class="readonly-item">
          <!-- 第一行：值占满 -->
          <div class="value-line">{{ '值：' | translate }}{{ fg.value.value }}</div>
          <!-- 第二行：缩进 -->
          <div class="desc-line indented">
            @for (item of Array.from(fg.value.desc ?? []); track item[0]) {
              <nz-tag>{{ item[0] }}：{{ item[1] || '-' }}</nz-tag>
            }
          </div>
        </div>
      </nz-list-item>
    }
  </nz-list>
}
