<nz-spin [nzSpinning]="loading">

  <nz-row [nzGutter]="[8, 8]">
    @for (ns of option.namespaces; track ns.namespace) {
      <nz-col [nzSpan]="6" (click)="onSelected(ns)">
        <nz-card nzHoverable>
          <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
        </nz-card>
      </nz-col>

      <ng-template #title>
        <span>
          <span>{{ ns.namespace }}</span>

          @if (ns.namespace === option.current) {
            <span style="float: right">
              <span nz-icon nzType="check" nzTheme="outline"></span>
            </span>
          }
        </span>
      </ng-template>

      <ng-template #desc>
        {{ ns.description.get(i18n.getCurrentLang()) }}
      </ng-template>
    }
  </nz-row>
</nz-spin>
