@if (updatable) {
  <nz-radio-group [ngModel]="value" nzButtonStyle="solid" (ngModelChange)="onRadioChange($event)">
    <label nz-radio-button [nzValue]="LifeCycle.DEVELOPMENT">{{ '开发中' | translate }}</label>
    <label nz-radio-button [nzValue]="LifeCycle.PREVIEW">{{ '预览' | translate }}</label>
    <label nz-radio-button [nzValue]="LifeCycle.RELEASED">{{ '上线' | translate }}</label>
  </nz-radio-group>
} @else {
  @switch (value) {
    @case (LifeCycle.DEVELOPMENT) {
      <nz-tag nzColor="red">{{ '开发中' | translate }}</nz-tag>
    }
    @case (LifeCycle.PREVIEW) {
      <nz-tag nzColor="blue">{{ '预览' | translate }}</nz-tag>
    }
    @case (LifeCycle.RELEASED) {
      <nz-tag nzColor="green">{{ '上线' | translate }}</nz-tag>
    }
  }
}
