<nz-page-header [nzTitle]="pageTitle" [nzSubtitle]="subTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>

  @if (account.ns) {
    <nz-page-header-footer>
      <nz-tabs [(nzSelectedIndex)]="tabIndex" nzSize="small" (nzSelectChange)="onTabChanged()">
        <nz-tab [nzTitle]="'设备' | translate"></nz-tab>
        <nz-tab [nzTitle]="'服务' | translate"></nz-tab>
        <nz-tab [nzTitle]="'属性' | translate"></nz-tab>
        <nz-tab [nzTitle]="'方法' | translate"></nz-tab>
        <nz-tab [nzTitle]="'事件' | translate"></nz-tab>
        <nz-tab [nzTitle]="'格式' | translate"></nz-tab>
        <nz-tab [nzTitle]="'单位' | translate"></nz-tab>
      </nz-tabs>
    </nz-page-header-footer>
  }
</nz-page-header>

<ng-template #pageTitle>
  <div class="selector" (click)="changeNamespace()">
    @if (account.ns) {
      {{ account.ns.namespace }}
    } @else {
      {{ '请选择一个名字空间' | translate }}
    }
    <span nz-icon nzType="caret-down" nzTheme="outline"></span>
  </div>
</ng-template>

<ng-template #subTitle>
  @if (account.ns) {
    {{ account.ns.description.get(i18n.getCurrentLang()) }}
  }
</ng-template>

<div style="padding: 20px 20px">
  @if (account.ns) {
    @switch (tabIndex) {
      @case (0) {
        <spec-device [namespace]="account.ns.namespace"></spec-device>
      }
      @case (1) {
        <spec-service [namespace]="account.ns.namespace"></spec-service>
      }
      @case (2) {
        <spec-property [namespace]="account.ns.namespace"></spec-property>
      }
      @case (3) {
        <spec-action [namespace]="account.ns.namespace"></spec-action>
      }
      @case (4) {
        <spec-event [namespace]="account.ns.namespace"></spec-event>
      }
      @case (5) {
        <spec-format [namespace]="account.ns.namespace"></spec-format>
      }
      @case (6) {
        <spec-unit [namespace]="account.ns.namespace"></spec-unit>
      }
    }
  }
</div>
