<nz-spin [nzSpinning]="loading">
  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="title" [nzSubtitle]="subTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>
  </nz-page-header>

  <ng-template #title>
    {{ '添加格式' | translate }}
  </ng-template>

  <ng-template #subTitle>
    {{ account.ns.namespace }}
  </ng-template>

  <div style="padding: 20px 20px">
    <nz-row [nzGutter]="[8, 8]">
      @for (format of formats; track format.type.name) {
        @if (! formatExist.has(format.type.name)) {
          <nz-col [nzSpan]="4" (click)="select(format)">
            <nz-card nzHoverable>
              <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
            </nz-card>
          </nz-col>

          <ng-template #title>
            {{ format.type.name }}
          </ng-template>

          <ng-template #desc>
            {{ format.description.get('zh-CN') }}
          </ng-template>
        }
      }
    </nz-row>
  </div>
</nz-spin>
