<nz-table
  nzShowSizeChanger
  nzSize="small"
  [nzData]="properties"
  [nzFrontPagination]="false"
  [nzLoading]="loading || loadingFormats || loadingUnits"
>
  <thead>
  <tr>
    <th>编码</th>
    <th>代码</th>
    <th>描述</th>
    <th>格式</th>
    <th>单位</th>
    <th>访问方式</th>
    <th>成员</th>
    <th>状态</th>
    @if (account.isEditable()) {
      <th>操作</th>
    }
  </tr>
  </thead>

  <tbody>
    @for (p of properties; track p.type.name) {
      <tr>
        <td><nz-tag>{{ p.type.shortUUID() }}</nz-tag></td>
        <td>{{ p.type.name }}</td>
        <td>{{ p.description.get('zh-CN') }}</td>
        <td>{{ getFormatDescription(p.format) }}</td>
        <td>{{ getUnitDescription(p.unit) }}</td>
        <td>
          @if (p.access.isWritable) {
            <nz-tag [nzColor]="'red'">写</nz-tag>
          }

          @if (p.access.isReadable) {
            <nz-tag [nzColor]="'blue'">读</nz-tag>
          }

          @if (p.access.isNotifiable) {
            <nz-tag [nzColor]="'green'">通知</nz-tag>
          }
        </td>
        <td>
          @if (p.members.length > 0) {
            @for (member of p.members; track member.value) {
              <nz-tag>{{ getPropertyDescription(member) }}</nz-tag>
            }
          }
        </td>
        <td>
          @switch (p.lifecycle) {
            @case (LifeCycle.RELEASED) {
              <nz-tag nzColor="blue">已发布</nz-tag>
            }
            @case (LifeCycle.PREVIEW) {
              <nz-tag nzColor="yellow">预览</nz-tag>
            }
            @case (LifeCycle.DEVELOPMENT) {
              <nz-tag nzColor="red">开发中</nz-tag>
            }
          }
        </td>
        @if (account.isEditable()) {
          <td>
            <a [routerLink]="['/main/spec/property/edit', p.type.toString()]">修改</a>
            @if (p.lifecycle === LifeCycle.DEVELOPMENT) {
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="onDelete(p)">删除</a>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</nz-table>
