<nz-card
  [nzBodyStyle]="{ padding: 0}"
>
  <div class="title-bar">
    <nz-space class="title">
      <span *nzSpaceItem><span nz-icon nzType="fire" nzTheme="outline"></span></span>
      <span *nzSpaceItem>{{ '事件详情' | translate }}</span>
    </nz-space>

    @if (editable()) {
      <span style="float: right">
        <button nz-button nzType="primary" nzDanger nzSize="small" (click)="onRemoved()" type="button">{{ '删除' | translate }}</button>
      </span>
    }
  </div>

  <form class="content" nz-form [formGroup]="form">
    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '实例ID' | translate }}</nz-form-label>
      <nz-form-control>
        <device-instance-id
          formControlName="iid"
          [lifecycle]="subLifecycle()"
          (changed)="onIIDChanged()"
        ></device-instance-id>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '代码' | translate }}</nz-form-label>
      <nz-form-control>
        <device-instance-name
          formControlName="code"
          [lifecycle]="subLifecycle()"
          [updatable]="updatable"
          (changed)="onCodeChanged()"
        ></device-instance-name>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '描述' | translate }}</nz-form-label>
      <nz-form-control>
        <description
          formControlName="description"
          [updatable]="editable()"
          (changed)="onDescriptionChanged()"
        ></description>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '参数' | translate }}</nz-form-label>
      <nz-form-control>
        <device-instance-arguments
          formControlName="arguments"
          [lifecycle]="subLifecycle()"
          [service]="service()"
          [language]="language"
          (changed)="onArgumentsChanged()"
        ></device-instance-arguments>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
