@if (updatable) {
  <nz-select [ngModel]="_value" (ngModelChange)="onSelectionChange($event)">
    @for (item of devices; track item) {
      <nz-option
        [nzValue]="item.type.name"
        nzLabel="{{ item.type.name }} ({{ item.description.get(i18n.getCurrentLang()) || item.type.name }})"
      ></nz-option>
    }
  </nz-select>
} @else {
  <span class="format-display" [class.disabled]="isDisabled">
    {{ selectedLabel }}
    @if (isDisabled) {
      <span class="disabled-hint">{{ '(已禁用)' | translate }}</span>
    }
  </span>
}
