<nz-spin [nzSpinning]="loading()">
  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="productTitle" [nzSubtitle]="productModel" [nzGhost]="false" class="fixed-header">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>

    <nz-page-header-footer>
      <nz-tabs [(nzSelectedIndex)]="tabIndex" nzSize="small">
        <nz-tab [nzTitle]="'基本信息' | translate"></nz-tab>
        <nz-tab [nzTitle]="'功能' | translate"></nz-tab>
<!--        <nz-tab [nzTitle]="'配网引导' | translate"></nz-tab>-->
<!--        <nz-tab [nzTitle]="'控制页' | translate"></nz-tab>-->
<!--        @if (product().upgrade.length > 0) {-->
<!--          <nz-tab [nzTitle]="'固件' | translate"></nz-tab>-->
<!--        }-->
<!--        <nz-tab [nzTitle]="'说明书' | translate"></nz-tab>-->
      </nz-tabs>
    </nz-page-header-footer>
  </nz-page-header>

  <ng-template #productTitle>
    {{ product().name.value.get(i18n.getCurrentLang()) }}
  </ng-template>

  <ng-template #productModel>
    {{ '型号:' | translate }} {{ product().model }}
  </ng-template>

<!--  <div style="padding: 20px 20px; margin-top: 110px;">-->
  <div style="padding: 20px 20px;">
    @switch (tabIndex) {
      @case (0) {
        <product-basic [product]="product()" (onSaved)="onSaved()"></product-basic>
      }
      @case (1) {
        <product-instance [product]="product()"></product-instance>
      }
      @case (2) {
        <product-wizard [product]="product()"></product-wizard>
      }
      @case (3) {
        <product-panel [product]="product()"></product-panel>
      }
      @case (4) {
        @if (product().upgrade.length > 0) {
          <product-firmware [product]="product()"></product-firmware>
        } @else {
          <product-manual [product]="product()"></product-manual>
        }
      }
      @case (5) {
        @if (product().upgrade.length > 0) {
          <product-manual [product]="product()"></product-manual>
        } @else {
          <product-visibility [product]="product()"></product-visibility>
        }
      }
      @case (6) {
        @if (product().upgrade.length > 0) {
          <product-visibility [product]="product()"></product-visibility>
        }
      }
    }
  </div>
</nz-spin>
