@if (template) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="360px" nzTheme="light">
      <template-detail-services
        [editable]="editable"
        [device]="template"
        (selected)="onServiceSelected($event)"
        (changed)="onChanged()"
      ></template-detail-services>
    </nz-sider>

    <nz-content class="inner-content">
      @if (service) {
        <template-service-split
          [editable]="editable"
          [service]="service"
          (changed)="onChanged()"
          (removed)="onRemoved($event)"
        ></template-service-split>
      }
    </nz-content>
  </nz-layout>
}

<!--@if (template) {-->
<!--  <nz-row [nzGutter]="[8, 8]">-->
<!--    <nz-col [nzSpan]="5">-->
<!--      <template-detail-services-->
<!--        [editable]="editable"-->
<!--        [device]="template"-->
<!--        (selected)="onServiceSelected($event)"-->
<!--        (changed)="onChanged()"-->
<!--      ></template-detail-services>-->
<!--    </nz-col>-->

<!--    @if (service) {-->
<!--      @if (expert) {-->
<!--        <nz-col [nzSpan]="19">-->
<!--          <template-service-waterfall-->
<!--            [editable]="editable"-->
<!--            [service]="service"-->
<!--          ></template-service-waterfall>-->
<!--        </nz-col>-->
<!--      } @else {-->
<!--        <nz-col [nzSpan]="19">-->
<!--          <template-service-split-->
<!--            [editable]="editable"-->
<!--            [service]="service"-->
<!--          ></template-service-split>-->
<!--        </nz-col>-->
<!--      }-->
<!--    }-->
<!--  </nz-row>-->
<!--}-->
