@if (template) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="360px" nzTheme="light">
      <template-detail-service-group [version]="version" [device]="template.value" [language]="language" (selected)="onServiceSelected($event)"></template-detail-service-group>
    </nz-sider>

    <nz-content class="inner-content">
      @if (service) {
        @if (expert) {
          <template-service-waterfall [version]="version" [service]="service" [language]="language"></template-service-waterfall>
        } @else {
          <template-service-split [version]="version" [service]="service" [language]="language"></template-service-split>
        }
      }
    </nz-content>
  </nz-layout>
}
