@if (template(); as t) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="360px" nzTheme="light">
      <template-services
        [editable]="editable()"
        [device]="t"
        (selected)="onServiceSelected($event)"
        (op)="onOp($event)"
      ></template-services>
    </nz-sider>

    <nz-content class="inner-content">
      @if (service(); as s) {
        <template-service
          [editable]="editable()"
          [service]="s"
          (op)="onOp($event)"
        ></template-service>
      }
    </nz-content>
  </nz-layout>
}
