<nz-spin [nzSpinning]="loading">
  <nz-page-header [nzTitle]="pageTitle" [nzSubtitle]="subTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>

    <nz-page-header-tags>
      <nz-segmented [nzOptions]="viewOptions" [(ngModel)]="viewMode"></nz-segmented>
    </nz-page-header-tags>
  </nz-page-header>

  <ng-template #pageTitle>
    <div class="selector" (click)="changeNamespace()">
      @if (account.ns) {
        {{ account.ns.namespace }}
      } @else {
        {{ '请选择一个名字空间' | translate }}
      }
      <span nz-icon nzType="caret-down" nzTheme="outline"></span>
    </div>
  </ng-template>

  <ng-template #subTitle>
    @if (account.ns) {
      {{ account.ns.description.get(i18n.getCurrentLang()) }}
    }
  </ng-template>

  <div style="padding: 20px 20px">
    @if (account.ns) {
      <div nz-row [nzGutter]="[8, 8]">
        <div nz-col [nzSpan]="24">
          <template-filter-type [types]="types" (typeSelected)="onTypesSelected($event)"></template-filter-type>
        </div>

        <div nz-col [nzSpan]="24">
          @switch (viewMode) {
            @case (0) {
              <template-grid [templates]="templates"></template-grid>
            }
            @case (1) {
              <template-list [templates]="templates"></template-list>
            }
          }
        </div>
      </div>
    }
  </div>
</nz-spin>
