<nz-page-header [nzTitle]="pageTitle" [nzGhost]="false" class="fixed-header">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>

  <nz-page-header-tags>
    <nz-segmented [nzOptions]="viewOptions" [(ngModel)]="viewMode" (ngModelChange)="onViewModeChanged($event)"></nz-segmented>
  </nz-page-header-tags>

  <nz-page-header-extra>
    @if (account.login) {
      <button nz-button nzType="primary" nzDanger [routerLink]="['/main/product/create']">创建</button>
    } @else {
      <button nz-button nzType="primary" nzDanger [routerLink]="['/passport']">创建</button>
    }
  </nz-page-header-extra>
</nz-page-header>

<ng-template #pageTitle>
  {{ '所有产品' | translate }}
</ng-template>

<div style="padding: 20px 20px">
  <div nz-row [nzGutter]="[8, 8]">
    <!--      <div nz-col [nzSpan]="24">-->
    <!--        <product-filter-type [types]="types" (typeSelected)="onTypesSelected($event)"></product-filter-type>-->
    <!--      </div>-->

    <!--      <div nz-col [nzSpan]="24">-->
    <!--        <product-filter-vendor [vendors]="vendors" (vendorSelected)="onVendorsSelected($event)"></product-filter-vendor>-->
    <!--      </div>-->

    <div nz-col [nzSpan]="24">
      @switch (viewMode) {
        @case (0) {
          <product-grid></product-grid>
        }
        @case (1) {
          <product-list></product-list>
        }
      }
    </div>
  </div>
</div>
