<nz-page-header nzTitle="上传" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>
</nz-page-header>

<div style="padding: 20px 20px">
  <nz-row [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="24">
      <div style="color: darkgray; font-size: 12px;">请上传图片</div>
    </nz-col>
    <nz-col [nzSpan]="24">
      <nz-upload
        class="icon-uploader"
        nzType="drag"
        nzListType="picture-card"
        [nzCustomRequest]="customUpload"
        [nzBeforeUpload]="beforeUpload"
        [nzMultiple]="false"
        (nzChange)="handleChange($event)"
        [nzShowUploadList]="false"
        [nzDisabled]="loading"
      >
        @if (!iconUrl) {
          <span class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'upload'"></span>
          <div class="ant-upload-text">上传</div>
        } @else {
          <div class="preview-wrapper">
            <img [src]="iconUrl" class="preview-img" alt="上传的图标"/>
            <button
              class="delete-btn"
              nz-icon nzType="delete"
              (click)="handleDelete($event)"
            ></button>
          </div>
        }
      </nz-upload>
    </nz-col>
  </nz-row>
</div>
