@switch (lifecycle) {
  @case (LifeCycle.DEVELOPMENT) {
    <div>
      <label nz-checkbox [(ngModel)]="value.direct" (nzCheckedChange)="notifyChange()">直接升级</label>
      <label nz-checkbox [(ngModel)]="value.gateway" (nzCheckedChange)="notifyChange()">网关升级</label>
      <label nz-checkbox [(ngModel)]="value.ble" (nzCheckedChange)="notifyChange()">BLE升级</label>
    </div>
  }

  @default {
    @if (value.direct) {
      <nz-tag nzColor="blue">直接升级</nz-tag>
    }

    @if (value.gateway) {
      <nz-tag nzColor="green">网关升级</nz-tag>
    }

    @if (value.ble) {
      <nz-tag nzColor="geekblue">BLE升级</nz-tag>
    }
  }
}
