<nz-page-header [nzTitle]="pageTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>
</nz-page-header>

<ng-template #pageTitle>
  {{ '账号' | translate }}
</ng-template>

<div style="padding: 20px 20px">
  <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzHoverable]="true">
    <nz-card-meta
      [nzTitle]="account.developer.name"
      [nzDescription]="account.developer.email"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar nzSrc="github.svg"></nz-avatar>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" src="{{ account.developer.avatar}}"/>
  </ng-template>
</div>
