@if (service(); as svc) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="360px" nzTheme="light">
      <template-service-card
        [showVersion]="showVersion()"
        [editable]="editable()"
        [service]="svc"
        (op)="onOp($event)"
        (titleSelected)="onTitleSelected()"
        (propertySelected)="onPropertySelected($event)"
        (actionSelected)="onActionSelected($event)"
        (eventSelected)="onEventSelected($event)"
      ></template-service-card>
    </nz-sider>

    <nz-content class="inner-content">
      @if (selection().kind === 'service') {
        <template-service-detail
          [editable]="editable()"
          [service]="svc"
          (op)="onOp($event)"
        ></template-service-detail>
      }

      @if (property(); as p) {
        <template-property-detail
          [editable]="editable()"
          [service]="svc"
          [property]="p"
          (op)="onOp($event)"
        ></template-property-detail>
      }

      @if (action(); as a) {
        <template-action-detail
          [editable]="editable()"
          [service]="svc"
          [action]="a"
          (op)="onOp($event)"
        ></template-action-detail>
      }

      @if (event(); as e) {
        <template-event-detail
          [editable]="editable()"
          [service]="svc"
          [event]="e"
          (op)="onOp($event)"
        ></template-event-detail>
      }
    </nz-content>
  </nz-layout>
}
