<nz-page-header [nzTitle]="pageTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>

  @if (account.login) {
    <nz-page-header-extra>
      <button nz-button nzType="primary" nzDanger [routerLink]="['/main/organization/create']">创建</button>
    </nz-page-header-extra>
  }
</nz-page-header>

<ng-template #pageTitle>
  {{ '组织' | translate }}
</ng-template>

<div style="padding: 20px 20px">
<!--  <nz-table-->
<!--    nzShowSizeChanger-->
<!--    [nzData]="organizations"-->
<!--    [nzHideOnSinglePage]="true"-->
<!--  >-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>组成代码</th>-->
<!--      <th>组成名称</th>-->
<!--      <th>创建者</th>-->
<!--      <th>创建时间</th>-->
<!--      <th>操作</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      @for (org of organizations; track org.id) {-->
<!--        <tr>-->
<!--          <td>{{ org.id }}</td>-->
<!--          <td>{{ org.name }}</td>-->
<!--          <td>{{ org.creatorName }}</td>-->
<!--          <td>{{ org.createAt | date:'yyyy-MM-dd HH:mm:ss':'GMT+00:00' }} </td>-->
<!--          <td>-->
<!--            @if (! account.isCurrentOrganization(org)) {-->
<!--              <a (click)="setCurrentOrganization(org)">设置为当前组织</a>-->
<!--            }-->
<!--          </td>-->
<!--        </tr>-->
<!--      }-->
<!--    </tbody>-->
<!--  </nz-table>-->

  <nz-row [nzGutter]="[8, 8]">
    @for (org of organizations; track org.id) {
      <nz-col [nzSpan]="4" (click)="setCurrentOrganization(org)">
        <nz-card nzHoverable>
          <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
        </nz-card>
      </nz-col>

      <ng-template #title>
        <span>
          <span>{{ org.id }}</span>

          @if (account.isCurrentOrganization(org)) {
            <span style="float: right">
              <span nz-icon nzType="check" nzTheme="outline"></span>
            </span>
          }
        </span>
      </ng-template>

      <ng-template #desc>
        {{ org.name }}
      </ng-template>
    }
  </nz-row>
</div>
