@if (device) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="300px" nzTheme="light">
      <device-instance-services
        [version]="version"
        [type]="device.type"
        [services]="services"
        [lifecycle]="lifecycle"
        [language]="language"
        (selected)="onServiceSelected($event)"
        (serviceAdded)="onServiceAdded($event)"
      ></device-instance-services>
    </nz-sider>

    <nz-content class="inner-content">
      @if (service) {
        @if (expert) {
          <device-instance-service-waterfall
            [version]="version"
            [service]="service"
            [lifecycle]="lifecycle"
            [language]="language"
            (changed)="onServiceChanged($event)"
            (removed)="onServiceRemoved($event)"
          ></device-instance-service-waterfall>
        } @else {
          <device-instance-service-split
            [version]="version"
            [service]="service"
            [lifecycle]="lifecycle"
            [language]="language"
            (changed)="onServiceChanged($event)"
            (removed)="onServiceRemoved($event)"
          ></device-instance-service-split>
        }
      }
    </nz-content>
  </nz-layout>
}
