<nz-table
  nzShowSizeChanger
  nzSize="small"
  [nzData]="events"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
>
  <thead>
  <tr>
    <th>编码</th>
    <th>代码</th>
    <th>描述</th>
    <th>参数</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
    @for (a of events; track a.type.name) {
      <tr>
        <td><nz-tag>{{ a.type.shortUUID() }}</nz-tag></td>
        <td>{{ a.type.name }}</td>
        <td>{{ a.description.get('zh-CN') }}</td>
        <td>
          @if (a.arguments.length > 0) {
            @for (arg of a.arguments; track arg.type.name) {
              <nz-tag>{{ getPropertyDescription(arg.type) }}</nz-tag>
            }
          }
        </td>
        <td>
          @switch (a.lifecycle) {
            @case (LifeCycle.RELEASED) {
              <nz-tag nzColor="blue">已发布</nz-tag>
            }
            @case (LifeCycle.PREVIEW) {
              <nz-tag nzColor="yellow">预览</nz-tag>
            }
            @case (LifeCycle.DEVELOPMENT) {
              <nz-tag nzColor="red">开发中</nz-tag>
            }
          }
        </td>
        <td>
          @if (account.isEditable()) {
            <a [routerLink]="['/main/spec/event/edit', a.type.toString()]">修改</a>

            @if (a.lifecycle === LifeCycle.DEVELOPMENT) {
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="onDelete(a)">删除</a>
            }
          } @else {
            <a [routerLink]="['/main/spec/event/view', a.type.toString()]">查看</a>
          }
        </td>
      </tr>
    }
  </tbody>
</nz-table>
