@if (instance(); as inst) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="360px" nzTheme="light">
      <instance-services
        [editable]="editable()"
        [showVersion]="version()"
        [type]="inst.type"
        [services]="services()"
        (selected)="onServiceSelected($event)"
        (op)="onOp($event)"
      ></instance-services>
    </nz-sider>

    <nz-content class="inner-content">
      @if (service(); as s) {
        <instance-service
          [version]="version()"
          [service]="s"
          [editable]="editable()"
          (op)="onOp($event)"
        ></instance-service>
      }
    </nz-content>
  </nz-layout>
}
