@if (instance) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="300px" nzTheme="light">
      <instance-services
        [showVersion]="version"
        [type]="instance.type"
        [services]="services"
        [editable]="editable"
        (selected)="onServiceSelected($event)"
        (serviceAdded)="onServiceAdded($event)"
      ></instance-services>
    </nz-sider>

    <nz-content class="inner-content">
      @if (service) {
        <instance-service
          [version]="version"
          [service]="service"
          [editable]="editable"
          (changed)="onServiceChanged($event)"
          (removed)="onServiceRemoved($event)"
        ></instance-service>
      }
    </nz-content>
  </nz-layout>
}
