<nz-row [nzGutter]="[8, 8]">
  @for (lang of i18n.languages; track lang.code) {
    <nz-col [nzSpan]="3" (click)="changeLanguage(lang.code)">
      <nz-card nzHoverable nzSize="small">
        <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
      </nz-card>
    </nz-col>

    <ng-template #title>
        <span>
          <span>{{ lang.name }}</span>

          @if (i18n.getCurrentLang() === lang.bcp47) {
            <span style="float: right">
              <span nz-icon nzType="check" nzTheme="outline"></span>
            </span>
          }
        </span>
    </ng-template>

    <ng-template #desc>
      {{ lang.bcp47 }}
    </ng-template>
  }
</nz-row>
