<nz-spin [nzSpinning]="loading()">
  <nz-row [nzGutter]="[8, 8]">
    @for (s of events(); track s.type.name) {

      <nz-col [nzSpan]="4" (click)="select(s)">
        <nz-card nzHoverable nzSize="small">
          <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
        </nz-card>
      </nz-col>

      <ng-template #title>
        <span>
          <span>
            {{ s.type.name }}
          </span>

          @if (selected.has(s.type.name)) {
            <span style="float: right">
              <span nz-icon nzType="check" nzTheme="outline"></span>
            </span>
          }
        </span>
      </ng-template>

      <ng-template #desc>
        {{ s.description.get(i18n.getCurrentLang()) }}
      </ng-template>
    }
  </nz-row>
</nz-spin>
