<nz-table
  #table
  nzShowSizeChanger
  nzSize="small"
  [nzData]="services"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
>
  <thead>
  <tr>
    <th [nzSortFn]="uuidSortFn">UUID</th>
    <th [nzSortFn]="codeSortFn">代码</th>
    <th>描述</th>
    <th>属性</th>
    <th>方法</th>
    <th>事件</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
    @for (s of table.data; track s.type.name) {
      <tr>
        <td><nz-tag>{{ s.type.shortUUID() }}</nz-tag></td>
        <td>{{ s.type.name }}</td>
        <td>{{ s.description.get('zh-CN') }}</td>
        <td>
          @for (p of s.requiredProperties; track p) {
            <nz-tag nzColor="blue">{{ getPropertyDescription(p) }}</nz-tag>
          }

          @for (p of s.optionalProperties; track p) {
            <nz-tag nzColor="green">{{ getPropertyDescription(p) }}</nz-tag>
          }
        </td>
        <td>
          @for (p of s.requiredActions; track p) {
            <nz-tag nzColor="blue">{{ getActionDescription(p) }}</nz-tag>
          }

          @for (p of s.optionalActions; track p) {
            <nz-tag nzColor="green">{{ getActionDescription(p) }}</nz-tag>
          }
        </td>
        <td>
          @for (p of s.requiredEvents; track p) {
            <nz-tag nzColor="blue">{{ getEventDescription(p) }}</nz-tag>
          }

          @for (p of s.optionalEvents; track p) {
            <nz-tag nzColor="green">{{ getEventDescription(p) }}</nz-tag>
          }
        </td>
        <td>
          @switch (s.lifecycle) {
            @case (LifeCycle.RELEASED) {
              <nz-tag nzColor="blue">已发布</nz-tag>
            }
            @case (LifeCycle.PREVIEW) {
              <nz-tag nzColor="yellow">预览</nz-tag>
            }
            @case (LifeCycle.DEVELOPMENT) {
              <nz-tag nzColor="red">开发中</nz-tag>
            }
          }
        </td>
        <td>
          @if (account.isEditable()) {
            <a [routerLink]="['/main/spec/service/edit', s.type.toString()]">修改</a>

            @if (s.lifecycle === LifeCycle.DEVELOPMENT) {
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="onDelete(s)">删除</a>
            }
          } @else {
            <a [routerLink]="['/main/spec/service/view', s.type.toString()]">查看</a>
          }
        </td>
      </tr>
    }
  </tbody>
</nz-table>
