<nz-page-header [nzTitle]="pageTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>
</nz-page-header>

<ng-template #pageTitle>
  {{ '语言' | translate }}
</ng-template>

<div style="padding: 20px 20px">
  <nz-card>
    <nz-space>
      @for (lang of i18n.languages; track lang.code) {
        <div *nzSpaceItem>
          <div (click)="changeLanguage(lang.code)" class="selector">{{ lang.name }}</div>
        </div>
      }
    </nz-space>
  </nz-card>
</div>
