<nz-spin [nzSpinning]="loading">
  <nz-row [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="24">
      <toolbar>
        @switch (product.lifecycle) {
          @case (LifeCycle.DEVELOPMENT) {
            <nz-tag nzColor="red">{{ '开发中' | translate }}</nz-tag>

            @if (changed) {
              <div style="color: red">{{ '基本信息已修改，请保存！' | translate }}</div>
            } @else {
              <div style="color: gray">{{ '开发中的产品，最终用户不可见。如需最终用户可见，需要上线。' | translate }}</div>
            }
          }
          @case (LifeCycle.PREVIEW) {
            <nz-tag nzColor="green">{{ '上线中' | translate }}</nz-tag>
            <div style="color: gray">{{ '管理员正在审批，请等待！' | translate }}</div>
          }
          @case (LifeCycle.RELEASED) {
            <nz-tag nzColor="blue">{{ '已上线' | translate }}</nz-tag>
            <div style="color: gray">{{ '产品已上线，基本信息不可修改' | translate }}</div>
          }
        }

        @if (manageable) {
          <!-- 在 flex 容器中，margin-left: auto 会让元素 “自动填满左侧剩余空间”-->
          <div style="margin-left: auto;">
            @if (changed) {
              <nz-space>
                <div *nzSpaceItem>
                  <button nz-button nzType="primary" nzDanger (click)="onCancel()">{{ '取消' | translate }}</button>
                </div>

                <div *nzSpaceItem>
                  <button nz-button nzType="primary" (click)="onSave()">{{ '保存' | translate }}</button>
                </div>
              </nz-space>
            } @else {
              @switch (product.lifecycle) {
                @case (LifeCycle.DEVELOPMENT) {
                  <nz-space>
                    <div *nzSpaceItem>
                      <button nz-button nzType="primary" nzDanger (click)="onRemove()">{{ '删除' | translate }}</button>
                    </div>

                    <div *nzSpaceItem>
                      <button nz-button nzType="primary" (click)="onPreview()">{{ '上线' | translate }}</button>
                    </div>
                  </nz-space>
                }
                @case (LifeCycle.PREVIEW) {
                  <nz-space>
                    <div *nzSpaceItem>
                      <button nz-button nzType="primary" nzDanger (click)="cancelPreview()">{{ '取消上线' | translate }}</button>
                    </div>

                    <div *nzSpaceItem>
                      <button nz-button nzType="primary" (click)="onRelease()">{{ '发布' | translate }}</button>
                    </div>
                  </nz-space>
                }
                @case (LifeCycle.RELEASED) {
                  <button nz-button nzType="primary" nzDanger (click)="onDevelopment()">{{ '下线' | translate }}</button>
                }
              }
            }
          </div>
        }
      </toolbar>
    </nz-col>

    <nz-col [nzSpan]="24">
      <nz-card nzBorderless>
        <form nz-form [formGroup]="form">
          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="name">{{ '产品ID' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <product-basic-id formControlName="id"></product-basic-id>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="name">{{ '名称' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <product-name formControlName="name" [updatable]="editable"></product-name>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="name">{{ '别名' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <product-alias formControlName="alias" [updatable]="editable"></product-alias>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="model">{{ '型号' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14" [nzErrorTip]="modelErrorTip">
              <spec-model formControlName="model" [updatable]="false"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="template">{{ '模板' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <product-template formControlName="template" [updatable]="false"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="icon">{{ '图标' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <product-icon formControlName="icon" [updatable]="editable" [productId]="product.id"></product-icon>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="protocol">{{ '连接协议' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <product-basic-protocol formControlName="protocol" [updatable]="editable"></product-basic-protocol>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzRequired nzFor="supported">{{ '固件' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <product-basic-upgrade formControlName="upgrade" [updatable]="editable"></product-basic-upgrade>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
    </nz-col>
  </nz-row>
</nz-spin>

<ng-template #modelErrorTip>
  @if (form.get('model')?.errors?.['required']) {
    <span>{{ '请输入型号' | translate }}</span>
  }
  @if (form.get('model')?.errors?.['pattern']) {
    <span>{{ '型号必须以小写字母开头，可包含小写字母、数字、中划线' | translate }}</span>
  }
</ng-template>
