<nz-card
  [nzBodyStyle]="{ padding: 0 }"
>
  <div class="title-bar">
    <nz-space class="title">
      <span *nzSpaceItem><span nz-icon nzType="setting" nzTheme="outline"></span></span>
      <span *nzSpaceItem>{{ '属性详情' | translate }}</span>
    </nz-space>

    @if (editable()) {
      <span style="float: right">
        <button nz-button nzType="primary" nzDanger nzSize="small" (click)="onRemoved()" type="button">{{ '删除' | translate }}</button>
      </span>
    }
  </div>

  <form class="content" nz-form [formGroup]="form">
    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '实例ID' | translate }}</nz-form-label>
      <nz-form-control>
        <device-instance-id
          formControlName="iid"
          [lifecycle]="subLifecycle()"
          (changed)="onIIDChanged()"
        ></device-instance-id>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '代码' | translate }}</nz-form-label>
      <nz-form-control>
        <device-instance-name
          formControlName="code"
          [lifecycle]="subLifecycle()"
          [updatable]="updatable"
          (changed)="onCodeChanged()"
        ></device-instance-name>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '描述' | translate }}</nz-form-label>
      <nz-form-control>
        <description
          formControlName="description"
          [updatable]="editable()"
          (changed)="onDescriptionChanged()"
        ></description>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '访问方式' | translate }}</nz-form-label>
      <nz-form-control>
        <device-instance-service-property-access
          formControlName="access"
          [lifecycle]="subLifecycle()"
          (changed)="onAccessChanged()"
        ></device-instance-service-property-access>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>{{ '数据格式' | translate }}</nz-form-label>
      <nz-form-control>
        <device-instance-service-property-format
          formControlName="format"
          [lifecycle]="subLifecycle()"
          [formats]="formats()"
          (changed)="onFormatChanged()"
        ></device-instance-service-property-format>
      </nz-form-control>
    </nz-form-item>

    @if (constrainable) {
      <nz-form-item nz-flex>
        <nz-form-label [style.width.px]="120" nzRequired>{{ '取值约束' | translate }}</nz-form-label>
        <nz-form-control>
          <device-instance-service-property-constraint
            formControlName="constraint"
            [lifecycle]="subLifecycle()"
            (changed)="onConstraintChanged()"
          ></device-instance-service-property-constraint>
        </nz-form-control>
      </nz-form-item>

      @switch (form.controls.constraint.value) {
        @case (ConstraintType.RANGE) {
          <nz-form-item nz-flex>
            <nz-form-label [style.width.px]="120" nzRequired>{{ '取值范围' | translate }}</nz-form-label>
            <nz-form-control>
              <device-instance-service-property-range
                formControlName="range"
                [lifecycle]="subLifecycle()"
                (changed)="onRangeChanged()"
              ></device-instance-service-property-range>
            </nz-form-control>
          </nz-form-item>
        }
        @case (ConstraintType.LIST) {
          <nz-form-item nz-flex>
            <nz-form-label [style.width.px]="120" nzRequired>{{ '取值列表' | translate }}</nz-form-label>
            <nz-form-control>
              <device-instance-service-property-list
                formControlName="list"
                [lifecycle]="subLifecycle()"
                (changed)="onListChanged()"
              ></device-instance-service-property-list>
            </nz-form-control>
          </nz-form-item>
        }
      }
    }

    @if (combinationValue) {
      <nz-form-item nz-flex>
        <nz-form-label [style.width.px]="120" nzRequired>{{ '成员列表' | translate }}</nz-form-label>
        <nz-form-control>
          <device-instance-service-property-members
            formControlName="members"
            [lifecycle]="subLifecycle()"
            [service]="service()"
            [property]="property()"
            [language]="language"
            (changed)="onMembersChanged()"
          ></device-instance-service-property-members>
        </nz-form-control>
      </nz-form-item>
    }

    @if (property().formatNumber()) {
      <nz-form-item nz-flex>
        <nz-form-label [style.width.px]="120" nzRequired>{{ '单位' | translate }}</nz-form-label>
        <nz-form-control>
          <device-instance-service-property-unit
            formControlName="unit"
            [lifecycle]="subLifecycle()"
            (changed)="onUnitChanged()"
          ></device-instance-service-property-unit>
        </nz-form-control>
      </nz-form-item>
    }

    @if (property().format !== DataFormat.COMBINATION) {
      <nz-form-item nz-flex>
        <nz-form-label [style.width.px]="120" nzRequired>{{ '缺省值' | translate }}</nz-form-label>
        <nz-form-control>
          <device-instance-service-property-default-value
            formControlName="defaultValue"
            [property]="property()"
            [lifecycle]="subLifecycle()"
            (changed)="onDefaultValueChanged()"
          ></device-instance-service-property-default-value>
        </nz-form-control>
      </nz-form-item>
    }
  </form>
</nz-card>
