@if (availableLanguages.length > 0) {
  <nz-row [nzGutter]="[8, 8]">
    @for (lang of displayedLanguages; track lang.lang) {
      <nz-col [nzSpan]="4" (click)="toggleLang(lang.lang)">
        <nz-card nzHoverable nzSize="small">
          <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
        </nz-card>
      </nz-col>

      <ng-template #title>
        <span>
          <span>
            {{ lang.lang }}
          </span>

          @if (isSelected(lang.lang)) {
            <span style="float: right">
              <span nz-icon nzType="check" nzTheme="outline"></span>
            </span>
          }
        </span>
      </ng-template>

      <ng-template #desc>
        {{ lang.label | translate }}
      </ng-template>
    }

    @if (!showAllLanguages && availableLanguages.length > 12) {
      <nz-col [nzSpan]="4" (click)="showMore()">
        <nz-card nzHoverable nzSize="small">
          <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
        </nz-card>

        <ng-template #title>
          {{ '更多语言' | translate }}
        </ng-template>

        <ng-template #desc>
          {{ '点击展开全部' | translate }}
        </ng-template>
      </nz-col>
    }
  </nz-row>
} @else {
  <div style="color: #999; padding: 10px 0;">
    {{ '暂无更多语言可添加' | translate }}
  </div>
}
