<nz-page-header [nzTitle]="pageTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>

  @if (account.login) {
    <nz-page-header-extra>
      <button nz-button nzType="primary" nzDanger [routerLink]="['/main/namespace/create']">{{ '创建' | translate }}</button>
    </nz-page-header-extra>
  }
</nz-page-header>

<ng-template #pageTitle>
  {{ '名字空间' | translate }}
</ng-template>

<div style="padding: 20px 20px">
  <nz-table
    nzShowSizeChanger
    [nzData]="namespaces"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
  >
    <thead>
    <tr>
      <th>{{ '代码' | translate }}</th>
      <th>{{ '中文描述' | translate }}</th>
      <th>{{ '英文描述' | translate }}</th>
      <th>{{ '可见性' | translate }}</th>
      <th>{{ '创建者' | translate }}</th>
      <th>{{ '操作' | translate }}</th>
    </tr>
    </thead>
    <tbody>
      @for (ns of namespaces; track ns.namespace) {
        <tr>
          <td>{{ ns.namespace }}</td>
          <td>{{ ns.description.get('zh-CN') }}</td>
          <td>{{ ns.description.get('en-US') }}</td>
          <td>
            @switch (ns.visibility) {
              @case (Visibility.PUBLIC) {
                <nz-tag nzColor="green">{{ '公开' | translate }}</nz-tag>
              }
              @case (Visibility.PRIVATE) {
                <nz-tag nzColor="blue">{{ '私有' | translate }}</nz-tag>
              }
              @default {
                <nz-tag>{{ ns.visibility }}</nz-tag>
              }
            }
          </td>
          <td>
            @if (account.organization) {
              @if (ns.organization === account.organization.id) {
                <nz-tag nzColor="geekblue">{{ ns.organization }}</nz-tag>
              } @else {
                <nz-tag>{{ ns.organization }}</nz-tag>
              }
            } @else {
              <nz-tag>{{ ns.organization }}</nz-tag>
            }
          </td>
          <td>
            @if (account.organization) {
              @if (ns.organization === account.organization.id) {
                <a [routerLink]="['/main/namespace/edit', ns.namespace]">{{ '修改' | translate }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="onDelete(ns)">{{ '删除' | translate }}</a>
              }
            }
          </td>
        </tr>
      }
    </tbody>
  </nz-table>

</div>
