<nz-spin [nzSpinning]="loading">

  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="pageTitle" [nzSubtitle]="pageSubTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>

    <nz-page-header-content>
      <nz-descriptions [nzColumn]="3">
        <nz-descriptions-item [nzTitle]="'型号' | translate" [nzSpan]="1">
          @if (template) {
            {{ template.type.model }}
          }
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'版本' | translate" [nzSpan]="1">
          @if (template) {
            {{ template.type.version }}
          }
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'状态' | translate" [nzSpan]="1">
          @if (template) {
            @if (canEditLifecycle) {
              <nz-radio-group nzSize="small" [(ngModel)]="template.lifecycle" nzButtonStyle="solid" (ngModelChange)="onLifecycleChanged()">
                <label nz-radio-button [nzValue]="LifeCycle.DEVELOPMENT">{{ '开发中' | translate }}</label>
                <label nz-radio-button [nzValue]="LifeCycle.PREVIEW">{{ '预览' | translate }}</label>
                <label nz-radio-button [nzValue]="LifeCycle.RELEASED">{{ '上线' | translate }}</label>
              </nz-radio-group>
            } @else {
              @switch (template.lifecycle) {
                @case (LifeCycle.DEVELOPMENT) {
                  <nz-tag nzColor="red">{{ '开发中' | translate }}</nz-tag>
                }
                @case (LifeCycle.PREVIEW) {
                  <nz-tag nzColor="blue">{{ '预览' | translate }}</nz-tag>
                }
                @case (LifeCycle.RELEASED) {
                  <nz-tag nzColor="green">{{ '上线' | translate }}</nz-tag>
                }
              }
            }
          }
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>

    <nz-page-header-extra>
      @if (changed) {
        <nz-space>
          <div *nzSpaceItem>
            <button nz-button nzType="primary" nzDanger (click)="onReload()">{{ '取消' | translate }}</button>
          </div>
          <div *nzSpaceItem>
            <button nz-button nzType="primary" (click)="onSave()">{{ '保存' | translate }}</button>
          </div>
        </nz-space>
      }
    </nz-page-header-extra>

  </nz-page-header>

  <ng-template #pageTitle>
    @if (template) {
      {{ template.description.get(i18n.getCurrentLang()) }}
    }
  </ng-template>

  <ng-template #pageSubTitle>
    @if (editable) {
      <a (click)="editTitle()">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </a>
    }
  </ng-template>

  <div style="padding: 20px 20px">
    @if (template) {
      <template-detail-slider
        [editable]="editable"
        [template]="template"
        (changed)="onChanged()"
        (removed)="onRemoved($event)"
      ></template-detail-slider>
    }
  </div>
</nz-spin>
