<nz-spin [nzSpinning]="loading">

  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="pageTitle" [nzSubtitle]="pageSubTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>

    <nz-page-header-content>
      <nz-descriptions [nzColumn]="3">
        <nz-descriptions-item [nzTitle]="'型号' | translate" [nzSpan]="1">
          @if (template) {
            {{ template.type.model }}
          }
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'版本' | translate" [nzSpan]="1">
          @if (template) {
            {{ template.type.version }}
          }
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'浏览模式' | translate" [nzSpan]="1">
          <nz-switch [(ngModel)]="expert" nzCheckedChildren="{{'专家模式'| translate}}" nzUnCheckedChildren="{{'普通模式' | translate }}"></nz-switch>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>

    <nz-page-header-extra>
      @if (changed) {
        <nz-space>
          <div *nzSpaceItem>
            <button nz-button nzType="primary" (click)="onReload()">{{ '取消' | translate }}</button>
          </div>
          <div *nzSpaceItem>
            <button nz-button nzType="primary" nzDanger (click)="onSave()">{{ '保存' | translate }}</button>
          </div>
        </nz-space>
      }
    </nz-page-header-extra>

  </nz-page-header>

  <ng-template #pageTitle>
    @if (template) {
      {{ template.description.get(i18n.getCurrentLang()) }}
    }
  </ng-template>

  <ng-template #pageSubTitle>
    @if (editable) {
      <a (click)="editTitle()">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </a>
    }
  </ng-template>

  <div style="padding: 20px 20px">
    @if (template) {
      <template-detail-slider
        [expert]="expert"
        [editable]="editable"
        [template]="template"
      ></template-detail-slider>
    }
  </div>
</nz-spin>
