<nz-row [nzGutter]="[8, 8]">
  @for (device of option.devices; track device.type.name) {
    <nz-col [nzSpan]="6" (click)="onDeviceSelected(device)">
      <nz-card nzHoverable>
        <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
      </nz-card>
    </nz-col>

    <ng-template #title>
        <span>
          <span>{{ device.type.name }}</span>

          @if (device.type.name === option.name) {
            <span style="float: right">
              <span nz-icon nzType="check" nzTheme="outline"></span>
            </span>
          }
        </span>
    </ng-template>

    <ng-template #desc>
      {{ device.description.get(i18n.getCurrentLang()) }}
    </ng-template>
  }
</nz-row>
