<nz-row [nzGutter]="[8, 8]">
  <nz-col [nzSpan]="24">
    <toolbar>
      @switch (wizard().lifecycle) {
        @case (LifeCycle.DEVELOPMENT) {
          <nz-tag nzColor="red">{{ '开发中' | translate }}</nz-tag>
          @if (changed()) {
            <div style="color: red">{{ '已修改，请保存！' | translate }}</div>
          } @else {
            <span style="color: gray">{{ '配网引导，在APP添加设备时出现。' | translate }}</span>
          }
        }
        @case (LifeCycle.PREVIEW) {
          <nz-tag nzColor="green">{{ '上线中' | translate }}</nz-tag>
          <div style="color: gray">{{ '管理员正在审批，请等待！' | translate }}</div>
        }
        @case (LifeCycle.RELEASED) {
          <nz-tag nzColor="blue">{{ '已上线' | translate }}</nz-tag>
          <div style="color: gray">{{ '已上线，不可修改' | translate }}</div>
        }
      }

      <!-- 在 flex 容器中，margin-left: auto 会让元素 “自动填满左侧剩余空间”-->
      <div style="margin-left: auto;">
        @if (changed()) {
          <nz-space>
            <div *nzSpaceItem>
              <button nz-button nzType="primary" nzDanger (click)="onCancel()">{{ '取消' | translate }}</button>
            </div>

            <div *nzSpaceItem>
              <button nz-button nzType="primary" (click)="onSave()">{{ '保存' | translate }}</button>
            </div>
          </nz-space>
        } @else {
          @switch (wizard().lifecycle) {
            @case (LifeCycle.DEVELOPMENT) {
              @if (wizard().steps.length > 0) {
                <button nz-button nzType="primary" (click)="onPreview()">{{ '上线' | translate }}</button>
              }
            }
            @case (LifeCycle.PREVIEW) {
              <button nz-button nzType="primary" nzDanger (click)="cancelPreview()">{{ '取消上线' | translate }}</button>
            }
          }
        }
      </div>
    </toolbar>
  </nz-col>

  <nz-col [nzSpan]="24">
    <div nz-row [nzGutter]="[8, 8]">
      @for (step of wizard().steps; track step.index) {
        <div
          nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="12"
          [nzLg]="12"
          [nzXl]="8"
          [nzXXl]="6"
        >
          <product-wizard-step
            [step]="step"
            [productId]="product.id"
            [lifecycle]="wizard().lifecycle"
            (removed)="onRemoved($event)"
            (changed)="onChanged($event)"
          ></product-wizard-step>
        </div>
      }

      @switch (wizard().lifecycle) {
        @case (LifeCycle.DEVELOPMENT) {
          <div
            nz-col
            class="step-col"
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="12"
            [nzLg]="12"
            [nzXl]="8"
            [nzXXl]="6"
          >
            <div class="button-container">
              <button nz-button (click)="add()" nzType="dashed" class="fill-button">{{ '添加步骤' | translate }}</button>
            </div>
          </div>
        }
      }
    </div>
  </nz-col>
</nz-row>
