@if (service(); as svc) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="360px" nzTheme="light">
      <instance-service-card
        [showVersion]="version()"
        [editable]="editable()"
        [service]="svc"
        (titleSelected)="onTitleSelected()"
        (propertySelected)="onPropertySelected($event)"
        (actionSelected)="onActionSelected($event)"
        (eventSelected)="onEventSelected($event)"
        (op)="onOp($event)"
      ></instance-service-card>
    </nz-sider>

    <nz-content class="inner-content">
      @if (selection().kind === 'service') {
        <device-instance-service-detail
          [editable]="editable()"
          [service]="svc"
          (op)="onOp($event)"
        ></device-instance-service-detail>
      }

      @if (property(); as p) {
        <device-instance-service-property
          [editable]="editable()"
          [service]="svc"
          [property]="p"
          (op)="onOp($event)"
        ></device-instance-service-property>
      }

      @if (action(); as a) {
        <device-instance-service-action
          [editable]="editable()"
          [service]="svc"
          [action]="a"
          (op)="onOp($event)"
        ></device-instance-service-action>
      }

      @if (event(); as e) {
        <device-instance-service-event
          [editable]="editable()"
          [service]="svc"
          [event]="e"
          (op)="onOp($event)"
        ></device-instance-service-event>
      }
    </nz-content>
  </nz-layout>
}
