<nz-spin [nzSpinning]="loading">
  <nz-layout class="main-layout">
    <nz-header class="fixed-header">
      <div class="logo">
        <img src="logo_256x256_gray.svg" alt="logo" class="logo-img">
        <span class="logo-text">{{ '产品中心' | translate }}</span>
      </div>

      <!-- 大屏幕水平菜单：小屏幕隐藏 -->
      <ul
        nz-menu
        nzTheme="dark"
        nzMode="horizontal"
        class="header-menu desktop-menu"
      >
        <li nz-menu-item nzMatchRouter routerLink="/main/product">
          <span nz-icon nzType="bulb" nzTheme="outline"></span>
          {{ '产品' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/template">
          <span nz-icon nzType="fire" nzTheme="outline"></span>
          {{ '模板' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/spec">
          <span nz-icon nzType="gold" nzTheme="outline"></span>
          {{ '规范' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/namespace">
          <span nz-icon nzType="appstore" nzTheme="outline"></span>
          {{ '名字空间' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/language">
          <span nz-icon nzType="global" nzTheme="outline"></span>
        </li>

        <li nz-menu-item nzMatchRouter (click)="logout()" style="float: right" >
          @if (account.login) {
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            <span>退出</span>
          } @else {
            <span nz-icon nzType="login" nzTheme="outline"></span>
            <span>登录</span>
          }
        </li>

        @if (account.login) {
          <li nz-menu-item nzMatchRouter routerLink="/main/account" style="float: right" >
            <nz-space>
              <div *nzSpaceItem>
                @switch (account.developer.platform) {
                  @case ('wechat') {
                    <span nz-icon nzType="wechat" nzTheme="outline"></span>
                  }
                  @case ('github') {
                    <span nz-icon nzType="github" nzTheme="outline"></span>
                  }
                  @case ('facebook') {
                    <span nz-icon nzType="facebook" nzTheme="outline"></span>
                  }
                  @case ('google') {
                    <span nz-icon nzType="google" nzTheme="outline"></span>
                  }
                  @default {
                    <span nz-icon nzType="question" nzTheme="outline"></span>
                  }
                }
              </div>
              <div *nzSpaceItem>
                {{ account.developer.name}}
              </div>
            </nz-space>
          </li>
        }

        <!--      <li nz-menu-item nzMatchRouter style="float: right" nz-dropdown [nzDropdownMenu]="notice">-->
        <!--        <nz-badge-->
        <!--          nzSize="small"-->
        <!--          [nzCount]="9"-->
        <!--        >-->
        <!--          <span nz-icon nzType="bell" nzTheme="outline"></span>-->
        <!--        </nz-badge>-->
        <!--      </li>-->

        @if (account.login) {
          @if (account.organization) {
            <li nz-menu-item nzMatchRouter routerLink="/main/organization" style="float: right">
              {{ account.organization.name }}
            </li>
          } @else {
            <li nz-menu-item nzMatchRouter routerLink="/main/organization/create" style="float: right">
              <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
              <span>{{ '创建组织' | translate }}</span>
            </li>
          }

<!--          @if (account.organizationId) {-->
<!--            -->
<!--          }-->

<!--          <li nz-menu-item nzMatchRouter style="float: right" nz-dropdown [nzDropdownMenu]="organization">-->
<!--          <span class="main-header-icon" nz-dropdown nzPlacement="bottomRight" [nzDropdownMenu]="organization">-->
<!--            @if (currentOrganization.personal) {-->
<!--              <nz-space>-->
<!--                <span *nzSpaceItem nz-icon nzType="user" nzTheme="outline"></span>-->
<!--                <span *nzSpaceItem>{{ '个人开发组' | translate }}</span>-->
<!--              </nz-space>-->
<!--            } @else {-->
<!--              <nz-space>-->
<!--                <span *nzSpaceItem nz-icon nzType="team" nzTheme="outline"></span>-->
<!--                <span *nzSpaceItem>{{ currentOrganization.name }}</span>-->
<!--              </nz-space>-->
<!--            }-->
<!--          </span>-->
<!--          </li>-->
        }

        <!--      <li nz-menu-item nzMatchRouter style="float: right" nz-dropdown [nzDropdownMenu]="user">-->
        <!--        <nz-space>-->
        <!--          <nz-avatar *nzSpaceItem nzIcon="user"></nz-avatar>-->
        <!--          <span *nzSpaceItem>张三</span>-->
        <!--        </nz-space>-->
        <!--      </li>-->
      </ul>

      <!-- 小屏幕汉堡按钮 + 下拉菜单 -->
      <div class="mobile-menu-trigger">
      <span>
        <button
          nz-button
          nzType="text"
          nzSize="large"
          nz-dropdown
          [nzDropdownMenu]="mobileMenu"
          nzPlacement="bottomRight"
        >
          <span nz-icon nzType="menu" nzTheme="outline" style="color: white; font-size: 20px;"></span>
        </button>
      </span>
      </div>
    </nz-header>

    <nz-content class="scrollable-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>

  <!-- 小屏幕下拉菜单 -->
  <nz-dropdown-menu #mobileMenu="nzDropdownMenu">
    <ul nz-menu nzTheme="dark" nzMode="vertical">
      <li nz-menu-item nzMatchRouter routerLink="/main/product">
        <span nz-icon nzType="bulb" nzTheme="outline"></span>
        产品
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/main/application">
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        应用
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/main/statistic">
        <span nz-icon nzType="line-chart" nzTheme="outline"></span>
        统计
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/main/template">
        <span nz-icon nzType="fire" nzTheme="outline"></span>
        产品模板
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/main/spec">
        <span nz-icon nzType="gold" nzTheme="outline"></span>
        产品规范
      </li>

      <li nz-menu-item nzMatchRouter routerLink="/main/profile">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        个人中心
      </li>

      <li nz-menu-item nzMatchRouter (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        退出登录
      </li>
    </ul>
  </nz-dropdown-menu>

  <nz-dropdown-menu #notice>
    <notice-card></notice-card>
  </nz-dropdown-menu>

<!--  <nz-dropdown-menu #organization>-->
<!--    <ul nz-menu>-->
<!--      @for (item of organizations; track item.id) {-->
<!--        <li nz-menu-item (click)="selectOrganization(item)">-->
<!--          <nz-space>-->
<!--            @if (item.personal) {-->
<!--              <span *nzSpaceItem nz-icon nzType="user" nzTheme="outline"></span>-->
<!--              <span *nzSpaceItem>{{ '个人开发组' | translate }}</span>-->
<!--            } @else {-->
<!--              <span *nzSpaceItem nz-icon nzType="team" nzTheme="outline"></span>-->
<!--              <span *nzSpaceItem>{{ item.name }}</span>-->
<!--            }-->
<!--          </nz-space>-->
<!--        </li>-->
<!--      }-->

<!--      <li nz-menu-divider></li>-->

<!--      <li nz-menu-item (click)="goOrganizations()">-->
<!--        <nz-space>-->
<!--          <span *nzSpaceItem nz-icon nzType="setting" nzTheme="outline"></span>-->
<!--          <span *nzSpaceItem>{{ '组织管理' | translate }}</span>-->
<!--        </nz-space>-->
<!--      </li>-->

<!--      <li nz-menu-divider></li>-->

<!--      <li nz-menu-item (click)="goAddOrganization()">-->
<!--        <nz-space>-->
<!--          <span *nzSpaceItem nz-icon nzType="plus" nzTheme="outline"></span>-->
<!--          <span *nzSpaceItem>{{ '创建组织' | translate }}</span>-->
<!--        </nz-space>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nz-dropdown-menu>-->

  <nz-dropdown-menu #user>
    <ul nz-menu nzTheme="light" nzMode="vertical">
      <li nz-menu-item>
        <nz-space>
          <i *nzSpaceItem nz-icon nzTheme="outline" nzType="user"></i>
          <span *nzSpaceItem>个人中心</span>
        </nz-space>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">
        <nz-space>
          <i *nzSpaceItem nz-icon nzTheme="outline" nzType="logout"></i>
          <span *nzSpaceItem>退出登录</span>
        </nz-space>
      </li>
    </ul>
  </nz-dropdown-menu>

  <nz-dropdown-menu #language="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      @for (lang of i18n.languages; track lang.code) {
        <li nz-menu-item (click)="i18n.changeLanguage(lang.code)">{{ lang.name }}</li>
      }
    </ul>
  </nz-dropdown-menu>
</nz-spin>
