<nz-spin [nzSpinning]="loading">
  <nz-layout class="main-layout">
    <nz-header class="fixed-header">
      <div class="logo">
        <img src="logo_256x256_gray.svg" alt="logo" class="logo-img">
        <span class="logo-text">{{ '产品中心' | translate }}</span>
      </div>

      <ul
        nz-menu
        nzTheme="dark"
        nzMode="horizontal"
        class="header-menu"
      >
        <li nz-menu-item nzMatchRouter routerLink="/main/welcome">
          <span nz-icon nzType="home" nzTheme="outline"></span>
          {{ '首页' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/product">
          <span nz-icon nzType="bulb" nzTheme="outline"></span>
          {{ '产品' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/template">
          <span nz-icon nzType="fire" nzTheme="outline"></span>
          {{ '模板' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/spec">
          <span nz-icon nzType="gold" nzTheme="outline"></span>
          {{ '规范' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/namespace">
          <span nz-icon nzType="appstore" nzTheme="outline"></span>
          {{ '名字空间' | translate }}
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/main/language">
          <span nz-icon nzType="global" nzTheme="outline"></span>
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/passport" style="float: right" >
          @if (account.login) {
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            <span>{{ '退出' | translate }}</span>
          } @else {
            <span nz-icon nzType="login" nzTheme="outline"></span>
            <span>{{ '登录' | translate }}</span>
          }
        </li>

        @if (account.login) {
          <li nz-menu-item nzMatchRouter routerLink="/main/account" style="float: right" >
            <nz-space>
              <div *nzSpaceItem>
                @switch (account.developer.platform) {
                  @case ('wechat') {
                    <span nz-icon nzType="wechat" nzTheme="outline"></span>
                  }
                  @case ('github') {
                    <span nz-icon nzType="github" nzTheme="outline"></span>
                  }
                  @case ('facebook') {
                    <span nz-icon nzType="facebook" nzTheme="outline"></span>
                  }
                  @case ('google') {
                    <span nz-icon nzType="google" nzTheme="outline"></span>
                  }
                  @default {
                    <span nz-icon nzType="question" nzTheme="outline"></span>
                  }
                }
              </div>
              <div *nzSpaceItem>
                {{ account.developer.name}}
              </div>
            </nz-space>
          </li>
        }

        @if (account.login) {
          @if (account.organization) {
            <li nz-menu-item nzMatchRouter routerLink="/main/organization" style="float: right">
              {{ account.organization.name }} ({{ account.organization.id }})
            </li>
          } @else {
            <li nz-menu-item nzMatchRouter routerLink="/main/organization/create" style="float: right">
              <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
              <span>{{ '创建组织' | translate }}</span>
            </li>
          }
        }
      </ul>
    </nz-header>

    <nz-content class="scrollable-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-spin>
