<nz-table
  #table
  nzSize="small"
  nzHideOnSinglePage
  nzShowSizeChanger
  [nzPageSize]="100"
  [nzData]="templates"
>
  <thead>
    <tr>
      <th>{{ '名称' | translate }}</th>
      <th>{{ '型号' | translate }}</th>
      <th>{{ '版本' | translate }}</th>
      <th>{{ '创建者' | translate }}</th>
      <th>{{ '操作' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    @for (p of table.data; track p.type.toString()) {
      <tr>
        <td>{{ p.description.get(i18n.getCurrentLang()) }}</td>
        <td>{{ p.type.model }}</td>
        <td>{{ p.type.version }}</td>
        <td>{{ p.type.organization }}</td>
        <td>
          <a routerLink="/main/template/detail/{{p.type.toString()}}">{{ '详情' | translate }}</a>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
