<nz-spin [nzSpinning]="loading">
  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="pageTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>
  </nz-page-header>

  <ng-template #pageTitle>
    {{ '创建产品' | translate }}
  </ng-template>

  <div style="padding: 20px 20px">
    <nz-card nzBorderless nzSize="small">
      <form nz-form [formGroup]="form"  (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="name">{{ '名称' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <product-name formControlName="name" [updatable]="true"></product-name>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="name">{{ '别名' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <product-alias formControlName="alias" [updatable]="true"></product-alias>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="model">{{ '型号' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="14" [nzErrorTip]="modelErrorTip">
            <spec-model formControlName="model" [updatable]="true"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="type">{{ '模板' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <product-template formControlName="template" [updatable]="true"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="icon">{{ '图标' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <product-icon formControlName="icon" [updatable]="true" [productId]="product.id"></product-icon>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="protocols">{{ '连接协议' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <product-basic-protocol formControlName="protocol" [updatable]="true"></product-basic-protocol>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="supported">{{ '固件' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <product-basic-upgrade formControlName="upgrade" [updatable]="true"></product-basic-upgrade>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="4" [nzOffset]="4">
            <button nz-button nzType="primary">{{ '提交' | translate }}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</nz-spin>

<ng-template #modelErrorTip>
  @if (form.get('model')?.errors?.['required'] || form.get('model')?.errors?.['minlength']) {
    <span>{{ '型号长度至少1个字符' | translate }}</span>
  }
  @if (form.get('model')?.errors?.['pattern']) {
    <span>{{ '型号必须以小写字母开头，可包含小写字母、数字、中划线' | translate }}</span>
  }
</ng-template>
