<nz-row [nzGutter]="[8, 8]">

  <nz-col [nzSpan]="8">
    <nz-input-group nzAddOnBefore="中">
      <input
        type="text"
        nz-input
        [(ngModel)]="descriptionZhCN"
        (ngModelChange)="onDescriptionChanged($event)"
        [disabled]="lifecycle !== LifeCycle.DEVELOPMENT"/>
    </nz-input-group>
  </nz-col>

<!--  <nz-col [nzSpan]="8">-->
<!--    <nz-input-group nzAddOnBefore="繁体">-->
<!--      <input-->
<!--        type="text"-->
<!--        nz-input-->
<!--        [(ngModel)]="descriptionZhTW"-->
<!--        (ngModelChange)="onDescriptionChanged($event)"-->
<!--        [disabled]="lifecycle !== LifeCycle.DEVELOPMENT"/>-->
<!--    </nz-input-group>-->
<!--  </nz-col>-->

  <nz-col [nzSpan]="8">
    <nz-input-group nzAddOnBefore="英">
      <input
        type="text"
        nz-input
        [(ngModel)]="descriptionEnUS"
        (ngModelChange)="onDescriptionChanged($event)"
        [disabled]="lifecycle !== LifeCycle.DEVELOPMENT"/>
    </nz-input-group>
  </nz-col>
</nz-row>
