::ng-deep .ant-input[disabled] {
  color: #000 !important;
  background-color: #f0f2f5 !important;
  border-color: #d9d9d9 !important;
  opacity: 1 !important;
}

/* 禁用状态下输入框的颜色 */
::ng-deep .ant-input-number-disabled .ant-input-number-input {
  color: #000000 !important;
  background-color: #f0f2f5 !important;
  opacity: 1 !important;
  cursor: not-allowed;
}
