<nz-spin [nzSpinning]="loadingProperties || loadingActions || loadingEvents">
  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="title" [nzSubtitle]="subTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>
  </nz-page-header>

  <ng-template #title>
    {{ '编辑服务' | translate }}
  </ng-template>

  <ng-template #subTitle>
    {{ account.ns.namespace }}
  </ng-template>

  <div style="padding: 20px 20px">
    <nz-card nzBorderless nzSize="small">
      <form nz-form [formGroup]="form">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="code">{{ '代码' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10" [nzErrorTip]="codeErrorTip">
            <spec-code formControlName="code" [updatable]="false"></spec-code>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="uuid">UUID</nz-form-label>
          <nz-form-control [nzSpan]="10" [nzErrorTip]="'请输入UUID' | translate">
            <uuid formControlName="uuid" [updatable]="false"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="model">{{ '描述' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10" [nzErrorTip]="'描述' | translate">
            <description formControlName="description" [updatable]="false"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>{{ '必选属性' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10">
            <service-definition-properties
              formControlName="requiredProperties"
              [properties]="properties"
              [updatable]="false"
            ></service-definition-properties>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>{{ '可选属性' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10">
            <service-definition-properties
              formControlName="optionalProperties"
              [properties]="properties"
              [updatable]="false"
            ></service-definition-properties>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>{{ '必选方法' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10">
            <service-definition-actions
              formControlName="requiredActions"
              [actions]="actions"
              [updatable]="false"
            ></service-definition-actions>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>{{ '可选方法' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10">
            <service-definition-actions
              formControlName="optionalActions"
              [actions]="actions"
              [updatable]="false"
            ></service-definition-actions>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>{{ '必选事件' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10">
            <service-definition-events
              formControlName="requiredEvents"
              [events]="events"
              [updatable]="false"
            ></service-definition-events>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>{{ '可选事件' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10">
            <service-definition-events
              formControlName="optionalEvents"
              [events]="events"
              [updatable]="false"
            ></service-definition-events>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="lifecycle">{{ '状态' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="10" [nzErrorTip]="'状态' | translate">
            <lifecycle formControlName="lifecycle" [updatable]="false"/>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</nz-spin>

<ng-template #codeErrorTip>
  @if (form.get('code')?.errors?.['required']) {
    <span>{{ '请输入代码' | translate }}</span>
  }
  @if (form.get('code')?.errors?.['pattern']) {
    <span>{{ '代码必须以字母开头，可包含字母、数字、中划线' | translate }}</span>
  }
</ng-template>
