<nz-row [nzGutter]="[8, 8]">
  @if (account.isEditable()) {
    <nz-col [nzSpan]="24">
      <div style="float: right">
        <button nz-button nzType="primary" (click)="addFormats()" [disabled]="! addable">{{ '添加格式' | translate }}</button>
      </div>
    </nz-col>
  }

  <nz-col [nzSpan]="24">
    <nz-table
      #table
      nzShowSizeChanger
      nzSize="small"
      [nzData]="formats"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
    >
      <thead>
      <tr>
        <th [nzSortFn]="codeSortFn">{{ '代码' | translate }}</th>
        <th>{{ '描述' | translate }}</th>
        <th>{{ '状态' | translate }}</th>
        @if (account.isEditable()) {
          <th>{{ '操作' | translate }}</th>
        }
      </tr>
      </thead>
      <tbody>
        @for (format of table.data; track format.type.name) {
          <tr>
            <td>{{ format.type.name }}</td>
            <td>{{ format.description.get(i18n.getCurrentLang()) }}</td>
            <td>
              @switch (format.lifecycle) {
                @case (LifeCycle.RELEASED) {
                  <nz-tag nzColor="blue">{{ '已发布' | translate }}</nz-tag>
                }
                @case (LifeCycle.PREVIEW) {
                  <nz-tag nzColor="yellow">{{ '预览' | translate }}</nz-tag>
                }
                @case (LifeCycle.DEVELOPMENT) {
                  <nz-tag nzColor="red">{{ '开发中' | translate }}</nz-tag>
                }
              }
            </td>
            @if (account.isEditable()) {
              <td>
<!--                <a [routerLink]="['/main/spec/format/edit', format.type.toString()]">{{ '修改' | translate }}</a>-->

<!--                @if (format.lifecycle === LifeCycle.DEVELOPMENT) {-->
<!--                  <nz-divider nzType="vertical"></nz-divider>-->
                  <a (click)="onDelete(format)">{{ '删除' | translate }}</a>
<!--                }-->
              </td>
            }
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-col>
</nz-row>
