.toolbar-content {
  background: white;
  height: 56px;
  //border-top: 1px solid #e8e8e8; /* 上边框线 */
  //border: 1px solid #e8e8e8;
  padding: 12px 12px; /* 内边距 */
  //text-align: right; /* 内容右对齐，适合放置按钮 */
  //box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15); /* 顶部阴影，产生悬浮效果 */
  //z-index: 10; /* 确保工具栏在其他内容之上 */

  display: flex;
  //justify-content: flex-end; // 按钮靠右（可根据需求调整）
  align-items: center;
  gap: 12px; // 按钮间距

  /* 兜底：确保即使 nz-affix 失效，也会固定在视口底部 */
  //position: fixed;
  //margin-left: 200px;
  //width: calc(100% - 200px);
  //bottom: 0;
  //left: 0;
}
