<nz-table
  nzShowSizeChanger
  nzSize="small"
  nzBordered
  #panelTable
  [nzData]="panels"
>
  <thead>
    <tr>
      <th>分类</th>
      <th>页面类型</th>
      <th>Web页面</th>
      <th>小程序</th>
      <th>版本名称</th>
      <th>版本编码</th>
      <th>支持的功能版本</th>
      <th>状态</th>
      <th>备注</th>
      <th>创建者</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    @for (p of panelTable.data; track p) {
      <tr>
        <td>
          @switch (p.category) {
            @case ('mobile') {
              移动版本
            }
            @case ('tablet') {
              平板版本
            }
            @default {
              {{ p.type }}
            }
          }
        </td>
        <td>
          @switch (p.type) {
            @case ('web') {
              WEB页
            }
            @case ('miniapp') {
              小程序
            }
          }
        </td>
        <td>
          @if (p.type === 'web') {
            <a [href]="p.web?.url" target="_blank">点击</a>
          }
        </td>
        <td>
          @if (p.type === 'miniapp') {
            {{ p.miniapp?.appId }}
          }
        </td>
        <td>{{ p.version.name }}</td>
        <td>{{ p.version.code }}</td>
        <td>版本 {{ p.instance.version}}</td>
        <td>
          @switch (p.lifecycle) {
            @case (LifeCycle.DEVELOPMENT) {
              <nz-tag nzColor="red">开发中</nz-tag>
            }
            @case (LifeCycle.PREVIEW) {
              <nz-tag nzColor="blue">上线中</nz-tag>
            }
            @case (LifeCycle.RELEASED) {
              <nz-tag nzColor="green">已上线</nz-tag>
            }
          }
        </td>
        <td>
          @switch (p.status) {
            @case ('generating') {
              <nz-tag nzColor="green">AI正在生成</nz-tag>
            }
            @case ('generating-failed') {
              <nz-tag nzColor="red">AI生成失败</nz-tag>
            }
            @case ('completed') {
              <nz-tag nzColor="blue">AI生成完成</nz-tag>
            }
          }
        </td>
        <td>{{ p.creator?.name }}</td>
        <td>{{ p.creator?.timestamp  | date:'yyyy-MM-dd HH:mm:ss' }}<td>
          @switch (p.lifecycle) {
            @case (LifeCycle.DEVELOPMENT) {
<!--              <a (click)="onView(p)">查看</a>-->
<!--              <nz-divider nzType="vertical"></nz-divider>-->
              <a (click)="onPreview(p)">上线</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="onDelete(p)">删除</a>
            }
            @case (LifeCycle.PREVIEW) {
<!--              <a (click)="onView(p)">查看</a>-->
<!--              <nz-divider nzType="vertical"></nz-divider>-->
              <a (click)="onCancelPreview(p)">取消上线</a>
            }
          }
        </td>
      </tr>
    }
  </tbody>
</nz-table>
