<nz-spin [nzSpinning]="loading">
  <nz-page-header (nzBack)="location.back()" nzBackIcon nzTitle="创建组织" [nzGhost]="false">
  </nz-page-header>

  <div style="padding: 20px 20px">
    <nz-card nzBorderless nzSize="small">
      <form nz-form [formGroup]="form"  (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="code">组织代码</nz-form-label>
          <nz-form-control [nzSpan]="10" [nzErrorTip]="codeErrorTip">
            <spec-code formControlName="code" [updatable]="true"></spec-code>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="name">组织名称</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="请输入组织名称">
            <input type="text" nz-input formControlName="name" placeholder="请输入组织名称"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="4" [nzOffset]="4">
            <button nz-button nzType="primary">提交</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</nz-spin>

<ng-template #codeErrorTip>
  @if (form.get('code')?.errors?.['required']) {
    <span>请输入代码</span>
  }
  @if (form.get('code')?.errors?.['pattern']) {
    <span>代码必须以字母开头，可包含字母、数字、中划线</span>
  }
</ng-template>
