@if (updatable) {
  <nz-select [(ngModel)]="value">
    @if (! formatSet.has('string')) {
      <nz-option nzValue="string" nzLabel="{{ '字符串' | translate }}"></nz-option>
    }

    @if (! formatSet.has('bool')) {
      <nz-option nzValue="bool" nzLabel="{{ '布尔' | translate }}"></nz-option>
    }

    @if (! formatSet.has('uint8')) {
      <nz-option nzValue="uint8" nzLabel="{{ '无符号8位整型' | translate }}"></nz-option>
    }

    @if (! formatSet.has('uint16')) {
      <nz-option nzValue="uint16" nzLabel="{{ '无符号16位整型' | translate }}"></nz-option>
    }

    @if (! formatSet.has('uint32')) {
      <nz-option nzValue="uint32" nzLabel="{{ '无符号32位整型' | translate }}"></nz-option>
    }

    @if (! formatSet.has('int16')) {
      <nz-option nzValue="int8" nzLabel="{{ '有符号8位整型' | translate }}"></nz-option>
    }

    @if (! formatSet.has('int16')) {
      <nz-option nzValue="int16" nzLabel="{{ '有符号16位整型' | translate }}"></nz-option>
    }

    @if (! formatSet.has('int32')) {
      <nz-option nzValue="int32" nzLabel="{{ '有符号32位整型' | translate }}"></nz-option>
    }

    @if (! formatSet.has('int64')) {
      <nz-option nzValue="int64" nzLabel="{{ '有符号64位整型' | translate }}"></nz-option>
    }

    @if (! formatSet.has('float')) {
      <nz-option nzValue="float" nzLabel="{{ '浮点数' | translate }}"></nz-option>
    }

    @if (! formatSet.has('hex')) {
      <nz-option nzValue="hex" nzLabel="{{ '16进制字符串' | translate }}"></nz-option>
    }

    @if (! formatSet.has('combination')) {
      <nz-option nzValue="combination" nzLabel="{{ '组合数' | translate }}"></nz-option>
    }

<!--    @if (! formatSet.has('tlv8')) {-->
<!--      <nz-option nzValue="tlv8" nzLabel="{{ '字符串' | translate }}"></nz-option>-->
<!--    }-->
  </nz-select>
} @else {
  <input
    nz-input
    [(ngModel)]="value"
    [disabled]="true"
  />
}
