@if (service) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="360px" nzTheme="light">
      <template-service-card
        [showVersion]="showVersion"
        [editable]="editable"
        [service]="service"
        (changed)="onChanged()"
        (titleSelected)="onTitleSelected($event)"
        (propertySelected)="onPropertySelected($event)"
        (actionSelected)="onActionSelected($event)"
        (eventSelected)="onEventSelected($event)"
      ></template-service-card>
    </nz-sider>

    <nz-content class="inner-content">
      @if (showServiceDetail) {
        <template-service
          [editable]="editable"
          [service]="service"
          (changed)="onChanged()"
          (removed)="onRemoved()"
        ></template-service>
      }

      @if (property) {
        <template-property
          [editable]="editable"
          [service]="service"
          [property]="property"
          (changed)="onChanged()"
          (removed)="onPropertyRemoved($event)"
        ></template-property>
      }

      @if (action) {
        <template-action
          [editable]="editable"
          [service]="service"
          [action]="action"
          (changed)="onChanged()"
          (removed)="onActionRemoved($event)"
        ></template-action>
      }

      @if (event) {
        <template-event
          [editable]="editable"
          [service]="service"
          [event]="event"
          (changed)="onChanged()"
          (removed)="onEventRemoved($event)"
        ></template-event>
      }
    </nz-content>
  </nz-layout>
}
