<nz-spin [nzSpinning]="loadingInstances() || loading()">
<nz-row [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="24">
      <toolbar>
        <span nz-icon nzType="user" nzTheme="outline"></span>

        <div style="color: gray">{{ '产品控制页面' | translate }}</div>

        <div style="margin-left: auto;">
          <button nz-button nzType="primary" [nzLoading]="loading()" (click)="onCreate()">{{ '上传控制页' | translate }}</button>
        </div>
      </toolbar>
    </nz-col>

    <nz-col [nzSpan]="24">
      <product-controller-list [product]="product" #ProductController></product-controller-list>
    </nz-col>
  </nz-row>
</nz-spin>
