/* You can add global styles to this file, and also import other style files */

// 在 src/styles.less 中添加
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.selector {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 6px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;

  &:hover {
    background-color: #F0F0F0; // 灰白色
  }
}
