<nz-card
  [nzBodyStyle]="{ padding: 0}"
>
  <div class="title-bar">
    <nz-space class="title">
      <span *nzSpaceItem><span nz-icon nzType="fire" nzTheme="outline"></span></span>
      <span *nzSpaceItem>{{ '事件详情' | translate }}</span>
    </nz-space>

    @if (editable()) {
      <span style="float: right">
        <span class="selector" (click)="onRemoved()">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </span>
      </span>
    }
  </div>

  <form class="content" nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>{{ '是否必选' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <spec-required formControlName="required" [updatable]="editable()" (changed)="onRequiredChanged()"></spec-required>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>{{ '实例ID' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <spec-iid formControlName="iid" [updatable]="editable()" (changed)="onIIDChanged()"></spec-iid>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>{{ '代码' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <spec-code formControlName="code" [updatable]="false"></spec-code>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>{{ '描述' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <description formControlName="description" [updatable]="editable()" (changed)="onDescriptionChanged()"></description>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>{{ '参数' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <template-arguments formControlName="arguments" [service]="service()" [updatable]="editable()" (changed)="onArgumentsChanged()"></template-arguments>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
